
.panelColour {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px;
  color: #73879C;
  border-radius: 5px;
  margin: 7.5px;    
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important
}

.text-muted{
    color:#777;
    font-size: 10px
 }

.text-small {
    font-size: 12px
}
.text-normal {
    font-size: 14px
}
.text-huge {
    font-size: 72px
}
.text-large {
    font-size: 50px
}
.size-h1 {
    font-size: 36px
}
.size-h2 {
    font-size: 20px
}
.size-h3 {
    font-size: 24px
}
.size-h4 {
    font-size: 18px
}
.text-thin {
    font-weight: 300
}
.text-ultralight {
    font-weight: 100
}
.color-primary {
    color: #1C7EBB
}
.color-success {
    color: #23AE89
}
.color-info {
    color: #2EC1CC
}
.color-info-alt {
    color: #6A55C2
}
.color-warning {
    color: #FFB61C
}
.color-danger {
    color: #E94B3B
}
.color-dark {
    color: #222533
}
.color-reverse {
    color: #fff
}
.color-gray-darker {
    color: #222
}
.color-gray-dark {
    color: #333
}
.color-gray {
    color: #555
}
.color-gray-light {
    color: #777
}
.color-gray-lighter {
    color: #eee
}

.divider {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px
}
.divider.divider-dashed {
    border: 1px dashed #e9e9e9
}
.divider.divider-dotted {
    border: 1px dotted #e9e9e9
}
.divider-sm {
    margin-top: 10px;
    margin-bottom: 10px
}
.divider-lg {
    margin-top: 30px;
    margin-bottom: 30px
}
.divider-xl {
    margin-top: 50px;
    margin-bottom: 50px
}
.label {
    padding: .5em .8em
}
.label-info-alt {
    background: #6A55C2
}
.list-group-item {
    padding: 15px;
    border: 1px solid #f3f3f3
}
.list-info li {
    padding: 10px;
    border-bottom: 1px solid #eee
}
.list-info li:last-child {
    border-bottom: none
}
.list-info li .icon {
    margin-right: 10px;
    color: #1C7EBB
}
.list-info li label {
    width: 100px
}
.panel {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.panel-box {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none
}
.panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    width: 1%;
    vertical-align: top;
    border-radius: 0
}
.panel-box .panel-left {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px
}
.panel-box .panel-right {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px
}
.panel-box.info-box i {
    line-height: 70px
}
.panel-box .panel-top,
.panel-box .panel-bottom {
    display: block
}
.panel-box .panel-top {
    padding: 5px 5px;
    border-radius: 7px;
    background-color: #2EC1CC;
    color: #fff;
    text-align:left;
}

.panel-box .panel-middle {
    padding: 0px 0px;
    margin-top: 18px;
    border-radius: 7px;
     background-color: #2EC1CC;
    color: #fff
}
.panel-box .panel-bottom {
    padding: 10px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px
}
.panel-box .panel-bottom p {
    margin: 0
}
.panel-box .list-justified-container {
    padding: 15px 0
}
.panel-box ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0
}
.panel-box ul.list-justified>li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #eee
}
.panel-box ul.list-justified>li:last-child {
    border: none
}
.panel-box ul.list-justified>li p {
    margin: 0
}
.panel-box .panel-icon,
.panel-box .panel-img {
    display: block;
    margin: -10px auto 2;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 10%;
    height: 30px;
    line-height: 20px;
    margin-left: auto;
    position:relative;
    float:left;
    font-size: 58px;
    text-shadow: -6px 8px 5px rgba(0, 0, 0, 0.3)
}
.panel-box .panel-icon {
    padding: 28px 35px 35px
}
.panel-box .panel-img {
    padding: 0px
}
.panel-box .panel-img img {
    width: 100%;
    max-width: 100%
}





