<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Observe </title>

    <link href='/libs/bootstrap/css/bootstrap.min.css', rel='stylesheet'>
    <link href='/css/loginpage.css', rel='stylesheet'>
    <script src='/libs/jquery/jquery.min.js'></script>
    <script src='/libs/bootstrap/js/bootstrap.min.js'></script>
    <script src='/js/custom.min.js'></script>
  </head>

  <body class="container-fluid">
    <div class="container body">
      <div class="main_container">

        <div class="container">

    <div class="row" id="pwd-container">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <section class="login-form">
          <!-- method="post" -->
          <form  action="/login" role="login" method="post">
            <img src="images/Observelogo3.png" class="img-responsive" alt="" />
            <h1>Error - Page not found!</h1>
            <div>
              <a href="/">Click Here to return to Login</a>
            </div>

          </form>

          <div class="form-links">
            <a href="www.observe.tech">www.observe.tech</a>
          </div>
        </section>
        </div>

        <div class="col-md-4"></div>


    </div>

    </div>
  </body>
</html>
