<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Observe | </title>

        <link href='/libs/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
        <link href='/libs/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
        <link href='/libs/bootstrap/css/daterangepicker.css' rel='stylesheet'>
        <link href='/css/custom.min.css' rel='stylesheet'>

        <script src='/libs/jquery/jquery.min.js'></script>
        <script src='/libs/bootstrap/js/bootstrap.min.js'></script>
        <script src='/libs/fastclick/fastclick.js'></script>
        <script src='/libs/nprogress/nprogress.js'></script>
        <script src='/libs/ChartJS/Chart.min.js'></script>
        <script src='/libs/jquery/jquery.sparkline.min.js'></script>
        <script src='/libs/Flot/jquery.flot.js'></script>
        <script src='/libs/Flot/jquery.flot.pie.js'></script>
        <script src='/libs/Flot/jquery.flot.time.js'></script>
        <script src='/libs/Flot/jquery.flot.stack.js'></script>
        <script src='/libs/Flot/jquery.flot.resize.js'></script>
        <script src='/libs/Flot/jquery.flot.orderBars.js'></script>
        <script src='/libs/Flot/jquery.flot.spline.min.js'></script>
        <script src='/libs/Flot/curvedLines.js'></script>
        <script src='/libs/DateJS/date.js'></script>
        <script src='/libs/moment/moment.min.js'></script>
        <script src='/libs/bootstrap/js/daterangepicker.js'></script>
        <script src='/js/custom.min.js'></script>
    <!-- Map -->
<link rel="stylesheet" media="all" href="/libs/jvectormap/jquery-jvectormap.css"/>
<script src="/libs/jvectormap/jquery-jvectormap.js"></script>
<script src="/libs/jvectormap/lib/jquery-mousewheel.js"></script>

<script src="/libs/jvectormap/src/jvectormap.js"></script>

<script src="/libs/jvectormap/src/abstract-element.js"></script>
<script src="/libs/jvectormap/src/abstract-canvas-element.js"></script>
<script src="/libs/jvectormap/src/abstract-shape-element.js"></script>

<script src="/libs/jvectormap/src/svg-element.js"></script>
<script src="/libs/jvectormap/src/svg-group-element.js"></script>
<script src="/libs/jvectormap/src/svg-canvas-element.js"></script>
<script src="/libs/jvectormap/src/svg-shape-element.js"></script>
<script src="/libs/jvectormap/src/svg-path-element.js"></script>
<script src="/libs/jvectormap/src/svg-circle-element.js"></script>
<script src="/libs/jvectormap/src/svg-image-element.js"></script>
<script src="/libs/jvectormap/src/svg-text-element.js"></script>

<script src="/libs/jvectormap/src/vml-element.js"></script>
<script src="/libs/jvectormap/src/vml-group-element.js"></script>
<script src="/libs/jvectormap/src/vml-canvas-element.js"></script>
<script src="/libs/jvectormap/src/vml-shape-element.js"></script>
<script src="/libs/jvectormap/src/vml-path-element.js"></script>
<script src="/libs/jvectormap/src/vml-circle-element.js"></script>
<script src="/libs/jvectormap/src/vml-image-element.js"></script>

<script src="/libs/jvectormap/src/map-object.js"></script>
<script src="/libs/jvectormap/src/region.js"></script>
<script src="/libs/jvectormap/src/marker.js"></script>

<script src="/libs/jvectormap/src/vector-canvas.js"></script>
<script src="/libs/jvectormap/src/simple-scale.js"></script>
<script src="/libs/jvectormap/src/ordinal-scale.js"></script>
<script src="/libs/jvectormap/src/numeric-scale.js"></script>
<script src="/libs/jvectormap/src/color-scale.js"></script>
<script src="/libs/jvectormap/src/legend.js"></script>
<script src="/libs/jvectormap/src/data-series.js"></script>
<script src="/libs/jvectormap/src/proj.js"></script>
<script src="/libs/jvectormap/src/map.js"></script>

<script src="/libs/jvectormap/tests/assets/jquery-jvectormap-uk_regions-mill.js"></script>
  </head>


  <nav class="navbar navbar-default" style="margin-top:6px">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="camera_dashboard">Overview</a></li>
          <li><a href="live">Live</a></li>
          <li class="active"><a href="finance">Growth Data</a></li>
          <li><a href="logs">Historical Logs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Alistdair Binning
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><a href="javascript:;"> Profile</a></li>
              <li>
                <a href="javascript:;">
                  <span>Settings</span>
                </a>
              </li>
              <li><a href="index.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-green">1</span>
            </a>
            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
              <li>
                <a href="singleCam_dashboard_bad.html">
                  <span class="image"></span>
                  <span>
                    <strong>Cage #76413</strong></span>
                    <span class="time">3 mins ago</span>
                  </span>
                  <span class="message">
                  Drop in dissolved oxygen - fish swimming quicker. <strong>Reduce feed</strong>
                  </span>
                </a>
              </li>
              <li>
                <div class="text-center">
                  <a>
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</br>
<!-- page content -->
<div class="row">

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel tile overflow_hidden">
      <div class="x_title">
        <h2>Site Overview</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" id="video_">
        <div id="world-map" style="width: 600px; height: 400px"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel tile" style="height:480px">
      <div class="x_title">
         <h2>Feed Cost <small>Weekly</small></h2>
        <div class="filter">
          <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2016 - January 28, 2017</span> <b class="caret"></b>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="demo-container" style="height:280px">
              <div id="placeholder33x" class="demo-placeholder"></div>
            </div>
          </div>
        </div>
      </br>
        <div class = 'row'>
          <center>
            <a class="btn btn-primary" href="logs">Investigate</a>
          </center>
        </div>
      </div>
  </div>

    </div>

<script>
  $(function(){
    var fishFarms = [
      {latLng: [56.8198, -5.1052], name: 'Fort William'},
      {latLng: [57.8198, -5.1052], name: 'Site A'},
      {latLng: [56.198, -5.91052], name: 'Site B'},
      {latLng: [56.9198, -5.91052], name: 'Site C'},
      {latLng: [56.9198, -6.152], name: 'Site D'},
      {latLng: [57.9198, -5.91052], name: 'Site E'},
    ]
    $('#world-map').vectorMap({map: 'uk_regions_mill',
    scaleColors: ['#C8EEFF', '#0071A4'],
    normalizeFunction: 'polynomial',
    hoverOpacity: 0.7,
    hoverColor: false,
    markerStyle: {
      initial: {
        fill: '#F8E23B',
        stroke: '#383f47'
      }
    },
    backgroundColor: '#383f47',
    markers: fishFarms,
    onMarkerClick: function(event, index) {
      upDateGraph();
    }
  });
// });

  $("#sensors").height($("#video_").height());


// $(document).ready(function() {
//define chart clolors ( you maybe add more colors if you want or flot will add it automatic )
var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

//generate random number for charts

function generate(){
  var d1 = [];
  for (var i = 0; i < 30; i++) {
    d1.push([new Date(Date.today().add(i).days()).getTime(), (Math.random()*50 + 30)*i+ 100]);
    //    d2.push([new Date(Date.today().add(i).days()).getTime(), randNum()]);
  }
  return d1;
}
function generatebad(){
  var d1 = [];
  for (var i = 0; i < 30; i++) {
    d1.push([new Date(Date.today().add(i).days()).getTime(), (Math.random()*50 + 40)*i+ 125]);
    //    d2.push([new Date(Date.today().add(i).days()).getTime(), randNum()]);
  }
  return d1;
}
var d1 = generate();
var d2 = generatebad();
var chartMinDate = d1[0][0]; //first day
var chartMaxDate = d1[20][0]; //last day
var feeders = ["Pieter Fabry","Alistdair Binning","Joe Smith"];
var tickSize = [1, "day"];
var tformat = "%d/%m/%y";

//graph options
var options = {
  grid: {
    show: true,
    aboveData: true,
    color: "#3f3f3f",
    labelMargin: 10,
    axisMargin: 0,
    borderWidth: 0,
    borderColor: null,
    minBorderMargin: 5,
    clickable: true,
    hoverable: true,
    autoHighlight: true,
    mouseActiveRadius: 100
  },
  series: {
    lines: {
      show: true,
      fill: true,
      lineWidth: 2,
      steps: false
    },
    points: {
      show: true,
      radius: 4.5,
      symbol: "circle",
      lineWidth: 3.0
    }
  },
  legend: {
    position: "ne",
    margin: [0, -25],
    noColumns: 0,
    labelBoxBorderColor: null,
    labelFormatter: function(label, series) {
      // just add some space to labes
      return label + '&nbsp;&nbsp;';
    },
    width: 40,
    height: 1
  },
  colors: chartColours,
  shadowSize: 0,
  tooltip: true, //activate tooltip
  tooltipOpts: {
    content: "%s: %y.0",
    xDateFormat: "%d/%m",
    shifts: {
      x: -30,
      y: -50
    },
    defaultTheme: false
  },
  yaxis: {
    min: 0
  },
  xaxis: {
    mode: "time",
    minTickSize: tickSize,
    timeformat: tformat,
    min: chartMinDate,
    max: chartMaxDate
  }
};
function upDateGraph(){
  var plot = $.plot($("#placeholder33x"), [{
    label: "Cost of feedings session",
    data: generate(),
    lines: {
      fillColor: "rgba(150, 202, 89, 0.12)"
    }, //#96CA59 rgba(150, 202, 89, 0.42)
    points: {
      fillColor: "#fff"
    }
  },{
    label: "Last Season",
    data: generatebad(),
    lines: {
      fillColor: "rgba(89, 89, 89, 0.12)"
    }, //#96CA59 rgba(150, 202, 89, 0.42)
    points: {
      fillColor: "#fff"
    }
  }], options);

}
upDateGraph();


 function showTooltip(x, y, contents) {
if( clicksYet )
    contents += (pointClicked)? ' hello':' bye';

$('<div id="tooltip">' + contents + '</div>').css( {
    position: 'absolute',
    display: 'none',
    top: y + 5,
    left: x + 5,
    border: '1px solid #34495E',
    padding: '2px',
    'background-color': '#34495E',
    color:'white',




    opacity: 1
}).appendTo("body").fadeIn(200);
}

$('body').popover({
  selector: '[data-popover]',
  trigger: 'click hover',
  delay: {
    show: 50,
    hide: 400
  }
});

var previousPoint = null;
$("#placeholder33x").bind("plothover", function (event, pos, item) {
    // $("#x").text(pos.x.toFixed(2));
    // $("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                showTooltip(item.pageX, item.pageY,
                            "Cost: £" + y + " </br> Type: 2.0 Optimum </br> Feeder: " + feeders[Math.round(Math.random()*3)] );
            }
        }
        else {
            $("#tooltip").remove();
            clicksYet = false;
            previousPoint = null;
        }
});

});
</script>

<script type="text/javascript">
$(document).ready(function() {

var cb = function(start, end, label) {
  console.log(start.toISOString(), end.toISOString(), label);
  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
};

var optionSet1 = {
  startDate: moment().subtract(29, 'days'),
  endDate: moment(),
  minDate: '01/01/2012',
  maxDate: '12/31/2015',
  dateLimit: {
    days: 60
  },
  showDropdowns: true,
  showWeekNumbers: true,
  timePicker: false,
  timePickerIncrement: 1,
  timePicker12Hour: true,
  ranges: {
    'Today': [moment(), moment()],
    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
    'This Month': [moment().startOf('month'), moment().endOf('month')],
    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  opens: 'left',
  buttonClasses: ['btn btn-default'],
  applyClass: 'btn-small btn-primary',
  cancelClass: 'btn-small',
  format: 'MM/DD/YYYY',
  separator: ' to ',
  locale: {
    applyLabel: 'Submit',
    cancelLabel: 'Clear',
    fromLabel: 'From',
    toLabel: 'To',
    customRangeLabel: 'Custom',
    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    firstDay: 1
  }
};
$('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
$('#reportrange').daterangepicker(optionSet1, cb);
$('#reportrange').on('show.daterangepicker', function() {
  console.log("show event fired");
});
$('#reportrange').on('hide.daterangepicker', function() {
  console.log("hide event fired");
});
$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
  console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
});
$('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
  console.log("cancel event fired");
});
$('#options1').click(function() {
  $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
});
$('#options2').click(function() {
  $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
});
$('#destroy').click(function() {
  $('#reportrange').data('daterangepicker').remove();
});
});
</script>

</div>
</div>

</body>
</html>
